.burger {
  top: 5%;
  left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 12rem;
  height: 11rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 10;

  div {
    border-radius: 10px;
    height: 16px;
    background: black;
    transition: all 0.3s linear;
    position: relative;
    transform-origin: 1px;
  }
}
