@font-face {
  font-family: "Lalezar-Regular";
  src: url("../../../fonts/lalezar/Lalezar-Regular.ttf");
}
.side-menu-close {
  transition: all 0.5s ease-in-out;
  position: absolute;
  width: 384px;
  height: 0vh;
  top: 0px;
  z-index: 3;
  float: left;
  margin-left: -40px;
  ul {
    transition: visibility 0s, opacity 0.5s linear;
    display: none;
    height: 0vh;
    visibility: none;
    opacity: 0;
  }
}

.side-menu-open {
  transition: all 0.5s ease-in-out;
  
  position: absolute;
  width: 384px;
  background: #343434;
  height: 100vh;
  top: 0px;
  left: 7p;
  z-index: 1;
  float: left;
  margin-left: -40px;
  ul {
    transition: visibility 0s, opacity 0.5s linear;
    transition-delay: 2s;
    text-align: left;
    list-style: none;
    margin-top: 100px;
    li {
      font-family: "Lalezar-Regular";

      height: 75px;
      font-size: 35px;
      color: white;
      line-height: 2;
    }
  }
}
